# Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf

%matplotlib inline

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# County Data

In [2]:
county_data = pd.read_csv('county_info_2016.csv', encoding='latin-1')
county_data

,USPS,GEOID,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,AL,1001,161526,Autauga County,1539609015,25749942,594.446,9.942,32.532237,-86.646440
1,AL,1003,161527,Baldwin County,4117584019,1133130502,1589.808,437.504,30.659218,-87.746067
2,AL,1005,161528,Barbour County,2291818680,50864677,884.876,19.639,31.870253,-85.405104
3,AL,1007,161529,Bibb County,1612481559,9287974,622.583,3.586,33.015893,-87.127148
4,AL,1009,161530,Blount County,1670041875,15077458,644.807,5.821,33.977358,-86.566440
...,...,...,...,...,...,...,...,...,...,...
3215,PR,72145,1804553,Vega Baja Municipio,118766803,57805868,45.856,22.319,18.455027,-66.397773
3216,PR,72147,1804554,Vieques Municipio,131527813,552206400,50.783,213.208,18.125418,-65.432474
3217,PR,72149,1804555,Villalba Municipio,92298573,3622637,35.637,1.399,18.130718,-66.472244
3218,PR,72151,1804556,Yabucoa Municipio,143005178,72592521,55.215,28.028,18.059858,-65.859871
3219,PR,72153,1804557,Yauco Municipio,175371915,1625260,67.711,0.628,18.085669,-66.857901

## Columns

In [3]:
county_data.columns

Index(['USPS', 'GEOID', 'ANSICODE', 'NAME', 'ALAND', 'AWATER', 'ALAND_SQMI',
       'AWATER_SQMI', 'INTPTLAT',
       'INTPTLONG                                                                                                               '],
      dtype='object')

## Select county information from CA, WA and OR

In [11]:
or_ca_wa_county_data = county_data[county_data['USPS'].str.contains("CA|WA|OR")]
or_ca_wa_county_data

,USPS,GEOID,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
186,CA,6001,1675839,Alameda County,1914242789,212979931,739.093,82.232,37.647139,-121.912488
187,CA,6003,1675840,Alpine County,1912292633,12557304,738.340,4.848,38.621783,-119.798352
188,CA,6005,1675841,Amador County,1539933576,29470568,594.572,11.379,38.443550,-120.653856
189,CA,6007,1675842,Butte County,4238423343,105325812,1636.464,40.667,39.665959,-121.601919
190,CA,6009,1675885,Calaveras County,2641820834,43806026,1020.013,16.914,38.183900,-120.561441
...,...,...,...,...,...,...,...,...,...,...
2987,WA,53069,1513275,Wahkiakum County,680956787,61588406,262.919,23.779,46.294638,-123.424458
2988,WA,53071,1531819,Walla Walla County,3289366722,74935920,1270.032,28.933,46.254606,-118.480374
2989,WA,53073,1529224,Whatcom County,5459395531,1028184731,2107.884,396.984,48.842653,-121.836432
2990,WA,53075,1533501,Whitman County,5592428647,48281266,2159.249,18.642,46.905944,-117.535390
2991,WA,53077,1531929,Yakima County,11122757385,41168171,4294.521,15.895,46.456558,-120.740145

## Read US Droughts CSV

In [15]:
us_droughts_data = pd.read_csv('us-droughts.csv')
us_droughts_data

,releaseDate,FIPS,county,state,NONE,D0,D1,D2,D3,D4,validStart,validEnd,domStatisticFormatID
0,2000-11-07,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-11-07,2000-11-13,1
1,2000-10-31,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-31,2000-11-06,1
2,2000-10-24,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-24,2000-10-30,1
3,2000-10-17,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-17,2000-10-23,1
4,2000-10-10,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-10,2000-10-16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829496,2015-12-08,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-12-08,2015-12-14,1
2829497,2015-12-01,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-12-01,2015-12-07,1
2829498,2015-11-24,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-11-24,2015-11-30,1
2829499,2015-11-17,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-11-17,2015-11-23,1
2829500,2015-11-10,56045,Weston County,WY,30.70,69.30,0.0,0.0,0.0,0.0,2015-11-10,2015-11-16,1

## Select CA, WA and OR rows

In [17]:
or_ca_wa_droughts_data = us_droughts_data[us_droughts_data['state'].str.contains("CA|WA|OR")]
or_ca_wa_droughts_data

,releaseDate,FIPS,county,state,NONE,D0,D1,D2,D3,D4,validStart,validEnd,domStatisticFormatID
8280,2000-11-07,6001,Alameda County,CA,100.0,0.0,0.0,0.00,0.00,0.0,2000-11-07,2000-11-13,1
8281,2000-10-31,6001,Alameda County,CA,100.0,0.0,0.0,0.00,0.00,0.0,2000-10-31,2000-11-06,1
8282,2000-10-24,6001,Alameda County,CA,100.0,0.0,0.0,0.00,0.00,0.0,2000-10-24,2000-10-30,1
8283,2000-10-17,6001,Alameda County,CA,100.0,0.0,0.0,0.00,0.00,0.0,2000-10-17,2000-10-23,1
8284,2000-10-10,6001,Alameda County,CA,100.0,0.0,0.0,0.00,0.00,0.0,2000-10-10,2000-10-16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2821696,2015-12-08,53077,Yakima County,WA,0.0,100.0,98.8,94.60,41.01,0.0,2015-12-08,2015-12-14,1
2821697,2015-12-01,53077,Yakima County,WA,0.0,100.0,100.0,98.90,86.58,0.0,2015-12-01,2015-12-07,1
2821698,2015-11-24,53077,Yakima County,WA,0.0,100.0,100.0,98.90,86.58,0.0,2015-11-24,2015-11-30,1
2821699,2015-11-17,53077,Yakima County,WA,0.0,100.0,100.0,98.90,86.58,0.0,2015-11-17,2015-11-23,1
2821700,2015-11-10,53077,Yakima County,WA,0.0,100.0,100.0,98.78,86.58,0.0,2015-11-10,2015-11-16,1

## Read NFL Data from [Kaggle - 2022 NFL Team Offense](https://www.kaggle.com/datasets/mattop/2022nfl-team-offense)

In [41]:
# dictionary of NFL Data Frames
# nfl{}
# nfloffenseweek3.csv <class 'pandas.core.frame.DataFrame'>
# nfloffenseweek4.csv <class 'pandas.core.frame.DataFrame'>
# nfloffenseweek5.csv <class 'pandas.core.frame.DataFrame'>
#
nfl = {}

for i in range(3, 6):
    filename = f'nfloffenseweek{i}.csv'
    nfl[filename.strip('.csv').strip('nfloffense')] = pd.read_csv(filename)
nfl["week3"]
nfl["week4"]
nfl["week5"]

,rank,team,games,points_scored,total_yards,offensive_plays,yards_per_play,turnovers_lost,fumbles_lost,1st_downs,...,rushing_yards,rushing_touchdowns,rushing_yards_per_attempt,rushing_1st_downs,penalties,penalty_yards,1st_down_penalties,percentage_scoring_drives,percentage_turnover_drives,expected_points
0,1,Detroit Lions,4,140,1747,269,6.5,4,1,90,...,656,7,5.9,26,23,188,7,45.8,8.3,53.17
1,2,Kansas City Chiefs,4,129,1539,257,6.0,4,2,95,...,468,4,4.5,23,19,156,10,50.0,7.1,57.85
2,3,Baltimore Ravens,4,119,1437,230,6.2,5,1,77,...,568,3,5.4,31,17,114,7,42.2,11.1,32.97
3,4,Philadelphia Eagles,4,115,1742,285,6.1,2,0,98,...,661,10,4.3,40,26,193,9,40.0,4.4,44.88
4,5,Buffalo Bills,4,114,1650,275,6.0,7,4,99,...,462,2,4.8,29,24,167,7,47.5,17.5,49.56
5,6,Cleveland Browns,4,105,1539,281,5.5,3,1,96,...,749,7,5.0,46,26,184,7,46.3,7.3,40.78
6,7,Jacksonville Jaguars,4,105,1346,250,5.4,6,4,83,...,441,3,4.0,23,22,157,8,40.9,13.6,17.69
7,8,Atlanta Falcons,4,103,1396,236,5.9,8,4,86,...,672,6,5.1,36,16,114,12,44.2,18.6,30.77
8,9,Miami Dolphins,4,98,1444,227,6.4,4,0,80,...,277,2,3.5,15,22,132,9,42.1,10.5,46.01
9,10,Las Vegas Raiders,4,96,1425,256,5.6,5,1,87,...,452,2,5.0,26,23,148,5,50.0,12.5,23.26
10,11,Seattle Seahawks,4,95,1444,228,6.3,6,3,83,...,459,3,5.2,26,32,306,9,44.1,11.8,42.94
11,12,Los Angeles Chargers,4,92,1487,264,5.6,4,2,77,...,258,2,2.7,17,21,161,5,36.4,6.8,17.02
12,13,Cincinnati Bengals,4,91,1387,290,4.8,6,2,87,...,358,1,3.1,18,22,166,11,37.5,12.5,6.37
13,14,Arizona Cardinals,4,88,1398,292,4.8,2,0,89,...,448,4,4.1,33,30,280,6,36.6,4.9,8.95
14,15,Minnesota Vikings,4,86,1376,254,5.4,5,1,92,...,392,3,4.4,22,16,95,11,38.6,11.4,20.12
15,16,Tampa Bay Buccaneers,4,82,1268,245,5.2,6,5,77,...,261,1,3.1,13,24,206,9,34.8,10.9,-3.64
16,17,Carolina Panthers,4,78,1049,214,4.9,6,3,56,...,385,2,4.5,22,23,250,7,31.1,11.1,-25.26
17,18,New Orleans Saints,4,76,1457,244,6.0,11,6,74,...,446,4,5.1,23,34,319,5,27.1,20.8,-11.00
18,19,New York Giants,4,76,1328,256,5.2,5,2,80,...,770,4,5.7,43,31,219,9,35.6,8.9,6.34
19,20,New York Jets,4,76,1458,289,5.0,9,4,82,...,350,1,4.1,15,25,257,8,32.6,19.6,-10.79
20,21,Green Bay Packers,4,75,1510,259,5.8,7,4,85,...,580,3,5.0,34,17,140,5,28.3,15.2,16.07
21,22,Tennessee Titans,4,75,1150,220,5.2,6,3,69,...,409,4,3.8,19,29,262,9,31.0,9.5,2.39
22,23,Pittsburgh Steelers,4,74,1115,234,4.8,7,2,69,...,389,4,4.0,25,24,159,4,30.4,13.0,-15.59
23,24,New England Patriots,4,74,1365,241,5.7,9,4,74,...,514,5,4.5,33,20,161,3,28.6,21.4,-0.64
24,25,Houston Texans,4,73,1208,237,5.1,5,1,68,...,380,2,4.5,19,26,226,11,31.3,10.4,-12.95
25,26,Washington Commanders,4,73,1323,287,4.6,7,2,84,...,402,2,4.1,24,23,264,8,21.6,13.7,-16.38
26,27,Dallas Cowboys,4,71,1251,241,5.2,2,1,69,...,416,2,4.0,22,27,208,7,35.6,4.4,1.65
27,28,San Francisco 49ers,4,71,1298,238,5.5,5,3,68,...,541,4,4.4,29,24,190,8,27.3,11.4,-1.21
28,29,Los Angeles Rams,4,70,1176,248,4.7,9,3,79,...,274,3,3.3,17,14,131,6,35.9,23.1,-8.08
29,30,Denver Broncos,4,66,1343,247,5.4,4,3,66,...,438,2,4.2,20,37,286,7,31.8,9.1,-6.92
30,31,Chicago Bears,4,64,1099,219,5.0,7,3,59,...,709,4,5.2,34,21,171,8,31.8,13.6,-5.87
31,32,Indianapolis Colts,4,57,1359,270,5.0,9,4,82,...,351,1,3.5,22,23,203,5,25.0,20.5,-18.74