# Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf

%matplotlib inline

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# County Data

In [37]:
county_data = pd.read_csv('county_info_2016.csv', encoding='latin-1')
county_data

,USPS,GEOID,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,AL,1001,161526,Autauga County,1539609015,25749942,594.446,9.942,32.532237,-86.646440
1,AL,1003,161527,Baldwin County,4117584019,1133130502,1589.808,437.504,30.659218,-87.746067
2,AL,1005,161528,Barbour County,2291818680,50864677,884.876,19.639,31.870253,-85.405104
3,AL,1007,161529,Bibb County,1612481559,9287974,622.583,3.586,33.015893,-87.127148
4,AL,1009,161530,Blount County,1670041875,15077458,644.807,5.821,33.977358,-86.566440
...,...,...,...,...,...,...,...,...,...,...
3215,PR,72145,1804553,Vega Baja Municipio,118766803,57805868,45.856,22.319,18.455027,-66.397773
3216,PR,72147,1804554,Vieques Municipio,131527813,552206400,50.783,213.208,18.125418,-65.432474
3217,PR,72149,1804555,Villalba Municipio,92298573,3622637,35.637,1.399,18.130718,-66.472244
3218,PR,72151,1804556,Yabucoa Municipio,143005178,72592521,55.215,28.028,18.059858,-65.859871
3219,PR,72153,1804557,Yauco Municipio,175371915,1625260,67.711,0.628,18.085669,-66.857901

## Columns

In [44]:
county_data.columns

Index(['USPS', 'GEOID', 'ANSICODE', 'NAME', 'ALAND', 'AWATER', 'ALAND_SQMI',
       'AWATER_SQMI', 'INTPTLAT',
       'INTPTLONG                                                                                                               '],
      dtype='object')

## Select Puerto Rico

In [56]:
type(county_data)
# for post_num in county_data.USPS:
#     print(type(post_num))

pandas.core.frame.DataFrame

In [3]:
us_droughts_data = pd.read_csv('us-droughts.csv')
us_droughts_data

,releaseDate,FIPS,county,state,NONE,D0,D1,D2,D3,D4,validStart,validEnd,domStatisticFormatID
0,2000-11-07,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-11-07,2000-11-13,1
1,2000-10-31,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-31,2000-11-06,1
2,2000-10-24,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-24,2000-10-30,1
3,2000-10-17,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-17,2000-10-23,1
4,2000-10-10,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-10,2000-10-16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829496,2015-12-08,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-12-08,2015-12-14,1
2829497,2015-12-01,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-12-01,2015-12-07,1
2829498,2015-11-24,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-11-24,2015-11-30,1
2829499,2015-11-17,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-11-17,2015-11-23,1
2829500,2015-11-10,56045,Weston County,WY,30.70,69.30,0.0,0.0,0.0,0.0,2015-11-10,2015-11-16,1