# Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf

%matplotlib inline

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# County Data

In [2]:
county_data = pd.read_csv('county_info_2016.csv', encoding='latin-1')
county_data

,USPS,GEOID,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
0,AL,1001,161526,Autauga County,1539609015,25749942,594.446,9.942,32.532237,-86.646440
1,AL,1003,161527,Baldwin County,4117584019,1133130502,1589.808,437.504,30.659218,-87.746067
2,AL,1005,161528,Barbour County,2291818680,50864677,884.876,19.639,31.870253,-85.405104
3,AL,1007,161529,Bibb County,1612481559,9287974,622.583,3.586,33.015893,-87.127148
4,AL,1009,161530,Blount County,1670041875,15077458,644.807,5.821,33.977358,-86.566440
...,...,...,...,...,...,...,...,...,...,...
3215,PR,72145,1804553,Vega Baja Municipio,118766803,57805868,45.856,22.319,18.455027,-66.397773
3216,PR,72147,1804554,Vieques Municipio,131527813,552206400,50.783,213.208,18.125418,-65.432474
3217,PR,72149,1804555,Villalba Municipio,92298573,3622637,35.637,1.399,18.130718,-66.472244
3218,PR,72151,1804556,Yabucoa Municipio,143005178,72592521,55.215,28.028,18.059858,-65.859871
3219,PR,72153,1804557,Yauco Municipio,175371915,1625260,67.711,0.628,18.085669,-66.857901

## Columns

In [3]:
county_data.columns

Index(['USPS', 'GEOID', 'ANSICODE', 'NAME', 'ALAND', 'AWATER', 'ALAND_SQMI',
       'AWATER_SQMI', 'INTPTLAT',
       'INTPTLONG                                                                                                               '],
      dtype='object')

## Select county information from CA, WA and OR

In [11]:
or_ca_wa_county_data = county_data[county_data['USPS'].str.contains("CA|WA|OR")]
or_ca_wa_county_data

,USPS,GEOID,ANSICODE,NAME,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
186,CA,6001,1675839,Alameda County,1914242789,212979931,739.093,82.232,37.647139,-121.912488
187,CA,6003,1675840,Alpine County,1912292633,12557304,738.340,4.848,38.621783,-119.798352
188,CA,6005,1675841,Amador County,1539933576,29470568,594.572,11.379,38.443550,-120.653856
189,CA,6007,1675842,Butte County,4238423343,105325812,1636.464,40.667,39.665959,-121.601919
190,CA,6009,1675885,Calaveras County,2641820834,43806026,1020.013,16.914,38.183900,-120.561441
...,...,...,...,...,...,...,...,...,...,...
2987,WA,53069,1513275,Wahkiakum County,680956787,61588406,262.919,23.779,46.294638,-123.424458
2988,WA,53071,1531819,Walla Walla County,3289366722,74935920,1270.032,28.933,46.254606,-118.480374
2989,WA,53073,1529224,Whatcom County,5459395531,1028184731,2107.884,396.984,48.842653,-121.836432
2990,WA,53075,1533501,Whitman County,5592428647,48281266,2159.249,18.642,46.905944,-117.535390
2991,WA,53077,1531929,Yakima County,11122757385,41168171,4294.521,15.895,46.456558,-120.740145

## Read US Droughts CSV

In [15]:
us_droughts_data = pd.read_csv('us-droughts.csv')
us_droughts_data

,releaseDate,FIPS,county,state,NONE,D0,D1,D2,D3,D4,validStart,validEnd,domStatisticFormatID
0,2000-11-07,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-11-07,2000-11-13,1
1,2000-10-31,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-31,2000-11-06,1
2,2000-10-24,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-24,2000-10-30,1
3,2000-10-17,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-17,2000-10-23,1
4,2000-10-10,2013,Aleutians East Borough,AK,100.00,0.00,0.0,0.0,0.0,0.0,2000-10-10,2000-10-16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829496,2015-12-08,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-12-08,2015-12-14,1
2829497,2015-12-01,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-12-01,2015-12-07,1
2829498,2015-11-24,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-11-24,2015-11-30,1
2829499,2015-11-17,56045,Weston County,WY,29.45,70.55,0.0,0.0,0.0,0.0,2015-11-17,2015-11-23,1
2829500,2015-11-10,56045,Weston County,WY,30.70,69.30,0.0,0.0,0.0,0.0,2015-11-10,2015-11-16,1

## Select CA, WA and OR rows

In [17]:
or_ca_wa_droughts_data = us_droughts_data[us_droughts_data['state'].str.contains("CA|WA|OR")]
or_ca_wa_droughts_data

,releaseDate,FIPS,county,state,NONE,D0,D1,D2,D3,D4,validStart,validEnd,domStatisticFormatID
8280,2000-11-07,6001,Alameda County,CA,100.0,0.0,0.0,0.00,0.00,0.0,2000-11-07,2000-11-13,1
8281,2000-10-31,6001,Alameda County,CA,100.0,0.0,0.0,0.00,0.00,0.0,2000-10-31,2000-11-06,1
8282,2000-10-24,6001,Alameda County,CA,100.0,0.0,0.0,0.00,0.00,0.0,2000-10-24,2000-10-30,1
8283,2000-10-17,6001,Alameda County,CA,100.0,0.0,0.0,0.00,0.00,0.0,2000-10-17,2000-10-23,1
8284,2000-10-10,6001,Alameda County,CA,100.0,0.0,0.0,0.00,0.00,0.0,2000-10-10,2000-10-16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2821696,2015-12-08,53077,Yakima County,WA,0.0,100.0,98.8,94.60,41.01,0.0,2015-12-08,2015-12-14,1
2821697,2015-12-01,53077,Yakima County,WA,0.0,100.0,100.0,98.90,86.58,0.0,2015-12-01,2015-12-07,1
2821698,2015-11-24,53077,Yakima County,WA,0.0,100.0,100.0,98.90,86.58,0.0,2015-11-24,2015-11-30,1
2821699,2015-11-17,53077,Yakima County,WA,0.0,100.0,100.0,98.90,86.58,0.0,2015-11-17,2015-11-23,1
2821700,2015-11-10,53077,Yakima County,WA,0.0,100.0,100.0,98.78,86.58,0.0,2015-11-10,2015-11-16,1